/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */h1{color:#369;font-size:250%}h1,h2,h3{font-family:Arial,Helvetica,sans-serif}h2,h3{color:#444;font-weight:lighter}body{margin:2em}body,button,input[text]{color:#888;font-family:Cambria,Georgia,serif}
/* everywhere else */*{font-family:Arial,Helvetica,sans-serif}.grid{display:-ms-grid;display:grid;

  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/-ms-grid-columns:64px 64px 64px 64px 64px 64px 64px;grid-template-columns:64px 64px 64px 64px 64px 64px 64px;-ms-grid-rows:64px 64px 64px 64px 64px 64px 64px;grid-template-rows:64px 64px 64px 64px 64px 64px 64px

  /*grid-template-areas:*/
    /*"head head2 . side"*/
    /*"main main2 . side"*/
    /*"footer footer footer footer";*/}.grid-cell{
  /*border: goldenrod 1px solid;*/
  /*margin: 5px 5px 5px 5px;*/}.link-center{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 76 76' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath fill='%23f1a30e' d='M0 32.454h76v11.093H0z'/%3E%3C/svg%3E");background-size:contain}