<div *ngIf="chosen; then selected_skill else selection">

</div>

<ng-template #selected_skill>
  <div class="chronicon-skill" *ngIf="isChroniconSkill()">
    <div class="skill">
      <div class="chronicon-skill-count golden-frame-thin">
        <span class="centering">{{skill.rank}}</span>
      </div>

      <button
        [style.background-position-x]="demo_id*-54+'px'"
        placement="auto"
        container="body"
        [ngbPopover]="tooltip"
        popoverTitle="{{skill.name}}"
        triggers="mouseenter:mouseleave"
        [ngClass]="{'active-skill': skill.isActive() }"
        (click)="levelUp($event)"
        class="chronicon-skill-button golden-frame">
      </button>
    </div>


  </div>

</ng-template>
<ng-template #selection>
  <div class="chronicon-skill-selection golden-frame"
       (mouseenter)=" hovered=true;" (mouseleave)="hovered=false;"
  >
    <div class="chronicon-skill-selection-tooltip  golden-frame" *ngIf="hovered"
         (mouseleave)="hovered=false;">
      <!--<button [style.background-image]="'url('+skill.image + ')'"-->
      <!--[style.backgroundSize]="'cover'"-->
      <!--(click)="selectSkill(skill)"-->
      <!--class="golden-frame">{{skill.name}}-->
      <!--</button>-->

      <button *ngFor="let skill of choosableSkills"
              [style.background-image]="'url('+skill.image + ')'"
              [style.backgroundSize]="'cover'"
              (click)="selectSkill(skill)"
              class="golden-frame">{{skill.name}}
      </button>
    </div>
  </div>

</ng-template>

<ng-template #tooltip>
  <div *ngIf="isChroniconSkill()">
    <div *ngIf="skill.element">
      <p>Element: {{skill.element}}</p>
    </div>
    <div *ngIf="skill.family!='None'">
      <p>Family: {{skill.family}}</p>
    </div>

    <p>{{skill.getTooltip(rank)}}</p>

    <div *ngIf="skill.max_rank">
      <p>Maximum Rank: {{skill.max_rank}}</p>
    </div>
    <!-- Hide if cooldown is undefined-->
    <div *ngIf="skill.cooldown">
      <p>Cooldown: {{skill.cooldown}}</p>
    </div>
  </div>
</ng-template>
