.chronicon-skill {
  width: 64px;
  height: 64px;
}

.chronicon-skill-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

.skill_icon{
  background-image: url('/assets/icons.png');
  background-color: black;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  image-rendering: pixelated
}
.chronicon-skill-count {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  z-index: 1;
  color: goldenrod;
  background-color: #000000;
  text-align: center;
}

.chronicon-skill-name {
  top: 100%;
  position: absolute;
  z-index: 1;
}
.chronicon-skill-tooltip {
  position: absolute;
  z-index: 100;
  background-color: rgba(34, 34, 34, 0.75);
  color: goldenrod;
  width: 300px;
  padding: 0px 5px 5px 5px;
  border-radius: 10px;
}

.golden-frame{
  border: goldenrod 5px solid;
}

.golden-frame-thin{
  border: goldenrod 2px solid;
}

.active-skill{
  border-radius: 0;
}

.chronicon-skill-selection {
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  background: black url("/assets/plus.svg");
  background-size: cover;
  border-radius: 10px;
}

.chronicon-skill-selection-tooltip {
  top: -4px;
  left: -4px;
  height: 70px;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
}

.popover{
  z-index: 100 !important;
}
