<h1>{{title}} - V. {{version}}</h1>

<hr>

<label>
  <select (change)="setCharacter($event.target.value.split(': ')[1])" [(ngModel)]="selectedChar" *ngIf="chars">
    <option *ngFor="let c of chars" [ngValue]="c">{{c}}</option>
  </select>
</label>
<hr>
<label>
  <select (change)="characterState['activeTree']=$event.target.value.split(': ')[1]" [(ngModel)]="selectedTree" *ngIf="trees">
    <option *ngFor="let c of trees" [ngValue]="c">{{c}}</option>
  </select>
</label>
<hr>

<app-skilltree [data]="data"
               [charName]="selectedChar"
               [treeName]="selectedTree"
               [characterState]="characterState"
               (getSkillStatus)="skillLevelUpCallback($event)">
</app-skilltree>

<div>Load: <input type="text"
                  (input)="loadSkills($event.target.value)"></div>
