/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
  background-color: #222222;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;

  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px 64px;
  grid-template-rows: 64px 64px 64px 64px 64px 64px 64px;

  /*grid-template-areas:*/
  /*"head head2 . side"*/
  /*"main main2 . side"*/
  /*"footer footer footer footer";*/
}

.grid-cell {
  border: black 1px solid;
  /*margin: 5px 5px 5px 5px;*/

}

.link {
  background-image: url('./assets/node-background.svg');
  background-repeat: no-repeat;
  background-size: 640px 256px;
}

.link-center {
  background-position-x: -64px;
  background-position-y: 0px;
}

.link-horizontal {
  background-position-x: 0px;
  background-position-y: 0px;
}

.link-vertical {
  background-position-x: -64px;
  background-position-y: 0px;
}

.link-right {
  background-position-x: -192px;
  background-position-y: 0px;
}

.link-left {
  background-position-x: -128px;
  background-position-y: 0px;
}

.link-up {
  background-position-x: -320px;
  background-position-y: 0px;
}

.link-down {
  background-position-x: -256px;
  background-position-y: 0px;
}

.link-left-up {
  background-position-x: 0px;
  background-position-y: -64px;
}

.link-left-down {
  background-position-x: -64px;
  background-position-y: -64px;
}

.link-right-up {
  background-position-x: -128px;
  background-position-y: -64px;
}

.link-right-down {
  background-position-x: -192px;
  background-position-y: -64px;
}

.link-horizontal-left-up {
  background-position-x: 0px;
  background-position-y: -128px;
}

.link-horizontal-left-down {
  background-position-x: -64px;
  background-position-y: -128px;
}

.link-horizontal-right-up {
  background-position-x: -128px;
  background-position-y: -128px;
}

.link-horizontal-right-down {
  background-position-x: -192px;
  background-position-y: -128px;
}

.link-horizontal-left-up-down {
  background-position-x: 0px;
  background-position-y: -192px;
}

.link-horizontal-right-up-down {
  background-position-x: -64px;
  background-position-y: -192px;
}
